AI Appointment Booking Assistant.json
{
  "name": "AI Appointment Booking Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "72161b78-5dd8-427a-aa7b-0208f11f1841",
      "name": "Webhook",
      "webhookId": "d2dc12f8-6ef2-46df-a4a8-93de5b02bc64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AQ.Ab8RN6LPTyZMq4imsd21vE-2iH8FGOHIaUchOtI5gBWtCz7Wog"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are an appointment booking assistant.\\n\\nExtract the following information from the user's message.\\n\\nReturn ONLY valid JSON.\\n\\n{\\n\\\"name\\\":\\\"\\\",\\n\\\"email\\\":\\\"\\\",\\n\\\"date\\\":\\\"\\\",\\n\\\"time\\\":\\\"\\\"\\n}\\n\\nToday's date is 2026-07-17.\\n\\nMessage:\\n{{$json.body.message}}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "6a523def-2495-4692-8378-8d01c429c4aa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.candidates[0].content.parts[0].text;\n\nconst booking = JSON.parse(text);\n\nreturn [\n  {\n    json: booking\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "0510bd04-66da-4e5d-ab74-98199fb0e7bb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2563fde-40e0-4652-a543-9029c5d16aac",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        0
      ],
      "id": "195169cf-a02c-43df-b1de-e1612b78fd59",
      "name": "If"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "bbeksultan811@gmail.com",
          "mode": "list",
          "cachedResultName": "bbeksultan811@gmail.com"
        },
        "start": "={{ $node[\"Code in JavaScript\"].json.date + 'T' + $node[\"Code in JavaScript\"].json.time + ':00' }}",
        "end": "={{\n(() => {\n  const start = new Date(\n    `${$node[\"Code in JavaScript\"].json.date}T${$node[\"Code in JavaScript\"].json.time}:00`\n  );\n  start.setHours(start.getHours() + 1);\n  return start.toISOString().slice(0,19);\n})()\n}}",
        "additionalFields": {
          "description": "=Booked automatically via AI Appointment Booking Assistant.\n\nName: {{$node[\"Code in JavaScript\"].json.name}}\n\nEmail: {{$node[\"Code in JavaScript\"].json.email}}",
          "summary": "=Meeting with {{$json.name}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1104,
        -128
      ],
      "id": "a7265f6b-ac6a-4cd4-adfa-22ebff6d137b",
      "name": "Create an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eRy2HHnzBufLAKXC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Code in JavaScript\"].json.email}}",
        "subject": "Your meeting has been confirmed",
        "message": "=Hello {{$node[\"Code in JavaScript\"].json.name}},\n\nYour appointment has been successfully booked.\n\nDate:\n{{$node[\"Code in JavaScript\"].json.date}}\n\nTime:\n{{$node[\"Code in JavaScript\"].json.time}}\n\nThank you!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1376,
        -128
      ],
      "id": "ba98a612-4c5e-443b-9c78-74a91b036597",
      "name": "Send a message",
      "webhookId": "e1454a50-95de-4d0e-930f-09ee532d3053",
      "credentials": {
        "gmailOAuth2": {
          "id": "GczTtbnD930Uo9oY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Appointment booked successfully.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1600,
        -128
      ],
      "id": "69896d7f-11db-4a36-b1ea-61d931349fca",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Code in JavaScript\"].json.email}}",
        "subject": "Requested appointment is unavailable",
        "message": "=Hello {{$node[\"Code in JavaScript\"].json.name}},\n\nThank you for your appointment request.\n\nUnfortunately, the requested time is already booked.\n\nRequested Date:\n{{$node[\"Code in JavaScript\"].json.date}}\n\nRequested Time:\n{{$node[\"Code in JavaScript\"].json.date}}\n\nPlease reply with another preferred date or time, and we'll be happy to schedule your meeting.\n\nBest regards,\nAI Appointment Booking Assistant",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1104,
        96
      ],
      "id": "5a2721e6-4a8d-42c8-b1f8-f3e98322ba29",
      "name": "Send a message1",
      "webhookId": "695347f5-f71c-4e9d-afaa-6e13e3f80c8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "GczTtbnD930Uo9oY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Requested time is not available.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1392,
        96
      ],
      "id": "be17818e-4bdf-4c68-b42f-142ce070e25f",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "bbeksultan811@gmail.com",
          "mode": "list",
          "cachedResultName": "bbeksultan811@gmail.com"
        },
        "timeMin": "={{ $json.date + 'T' + $json.time + ':00' }}",
        "timeMax": "={{\n(() => {\n  const [h, m] = $json.time.split(':').map(Number);\n  return `${$json.date}T${String(h + 1).padStart(2,'0')}:${String(m).padStart(2,'0')}:00`;\n})()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "a229469b-951b-4092-85da-4bf31dc8044c",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eRy2HHnzBufLAKXC",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cfa0fa73-b820-48cb-b9a7-0a8294d6475c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc2ce1497fea5ef495c4fc759ceafe1145b1ecced76f0b3cadc9843ca9ce88bd"
  },
  "nodeGroups": [],
  "id": "1cg4NbddrPRhl1cD",
  "tags": []
}